.DashBoard-footer {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
}
.footer-left-container{
    flex: 33%;
    margin-left: 1rem;
    display: flex;
    align-items: center;
}
.current-track-image{
    width : 50px;
    height: 50px;
}
.track-details{
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex-direction: column;
}

.footer-middle-container{
    flex: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.player-seekbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
.seekbar {
    height: 3.5px;
    width: 100%;
    margin-left : 0.5rem;
    margin-right: 0.5rem;
    cursor : pointer;
    background: gray;
    border-radius: 2px;
}
.seekbar-track{
    height: 2px;
    border-radius: 2px;
    background:white;
    width : 80%;
    z-index : 1;
}

.footer-right-container{
    flex: 33%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer-icons{
    font-size: 20px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

.player-controls{
    display: flex;
    justify-content: space-between;
}

.various-controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sound-seekbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.right-icons{
    font-size: 30px;
}
.soundbar{
    height: 3.5px;
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    background: gray;
    border-radius: 2px;
}
.soundbar-track{
    height: 2px;
    border-radius: 2px;
    background: white;
    width: 50%;
    z-index: 1;
}