.DashBoard-footer{
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right : 0;
    left: 0;
    height: 80px;
} 

.DashBoard-container{
    position : fixed;
    display: flex;
    flex-direction: column;
}