.album-container{
    display: flex;
    margin : 1rem;
    flex-direction: column;
}
.album-title-more{
    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0rem 1rem;
}
.individual-album {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    cursor: pointer;
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0;
}
.album-info {
    margin: 1rem 0.5rem 1rem 0.5rem;
    border-radius: 10px;
}
.album-title-desp{
    display: flex;
    flex-direction: column;
    margin-left: 0.1rem;
}
.album-title{
    font-size: 15px;
    margin-bottom: 0.2rem;
    overflow: hidden;
}
.album-descp {
    font-size : 11px;
    color: gray;
    overflow: hidden;
}

.album-image {
    border-radius: 10px;
    margin-bottom: 0.5rem;
}