.ablum-tracks{
    display: flex;
    flex-direction: column;
}

.tracks-page-album-header{
    display: flex;
    padding : 1rem;
    position: absolute;
    top: 0;
    background-color: #121212;
    width: 100%;
}

.tracks-page-album-image{
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px black;
}

.tracks-page-album-details{
    display: flex;
    flex-direction : column;
    margin-left : 1rem;
    margin-top : 1.5rem;
}

.tracks-page-album-title{
    font-size: 60px;
    font-weight: 600;
}
.album-stats{
    display: flex;
    margin-top : 0.5rem;
}

.album-artist-logo{
    margin-right: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tracks-page-tracks-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin-top : 2rem;
}
.tracks-page-track-container-header{
    display: grid;
    grid-template-columns: 5% 60% auto auto auto;
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: 15rem;
}
.track-container{
    display: grid;
    grid-template-columns: 5% 60% auto auto auto;
    padding: 10px;
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.track-container:hover {
    background-color: rgb(59, 58, 58);
}

